*{
    padding: 0%;
    margin: 0%;
}
/* HEADER */
.nav-mio{
    display: flex;
    flex-wrap: wrap;
    color: rgb(24, 46, 139);
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    

}
.linkcolor{
    color: rgb(0, 0, 0);
}
header{
    padding-top: 20px;
    background-color: rgb(242, 243, 242);
}
/* FOOTER */
.footerbc{
    background-color: rgb(112, 112, 112);
}
.limite{
    margin-bottom: 8px;
}
/* ... */
.listgroupmio{
    background-color: rgb(242, 243, 242);
}

.spacebotop{
    margin-bottom: 20px;
    margin-top: 20px;

}

.ldeco{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(0, 5, 71); 
}

.ldeco:hover{
    text-decoration: underline;
    color: rgb(0, 5, 71);
}

/* cardbc */
.card1{
    background-color: #abc4f3;
}


/* # */
#contactenos{
    text-align: center;
    background-color: rgb(242, 243, 242);
    font-size: xx-large;
}
.nodeco{
    text-decoration:underline;
    color: rgb(0, 0, 0);
}
main{
    background-color: rgb(242, 243, 242);
    padding-bottom: 2rem;
}
/* LETRASC */
.tipolmio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.tipolmio2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(24, 46, 139);
}
.tipolmio3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 5, 71)
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/* form */
.forms{
    background-color: rgb(190, 236, 240);
    margin-top: 0;
    padding-top: 7rem;
    padding-bottom: 6.7rem;

}
/* CONTACTOS */
.listmio{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
/* BOTONES */
.btnmio {
    background-color: #1e2b37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btnmio:hover {
    background-color: #2c3e50;
  }

  /* INDEX */
  #secind{
    margin-top: 50px;
  }

/* EMPRESAS */
.company-container {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    padding: 20px;
}
.company-image {
    max-width: 700px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .company-image {
        max-width: 100%;
        height: auto;
    }
}


